<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
	<display-name>Short Url Service</display-name>
	<servlet>
		<description></description>
		<servlet-name>ShortUrlServlet</servlet-name>
		<servlet-class>com.lingxin.shorturl.web.ShortUrlServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<servlet-name>ShortUrlCtrl</servlet-name>
		<servlet-class>com.lingxin.shorturl.manager.ShortUrlCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShortUrlServlet</servlet-name>
		<url-pattern>/s</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShortUrlCtrl</servlet-name>
		<url-pattern>/shorturl.do</url-pattern>
	</servlet-mapping>
</web-app>
